@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: white;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.selected {
  color: red;
}

.active-user-item {
  --tw-bg-opacity: 1;
  /* background-color: rgb(243 244 246 / var(--tw-bg-opacity)); */
  background-color: red;
}

@layer components {
  .default-modal-btns {
    @apply w-full
    justify-center
    rounded-md
    border
    shadow-sm
    px-4
    py-2
    focus:outline-none
    focus:ring-offset-2
    focus:ring-2
    sm:ml-3
    sm:w-auto
    sm:text-sm
    inline-flex;
  }

  .delete-modal-btn {
    @apply bg-red-600
    hover:bg-red-700
    focus:ring-red-500
    text-white
    font-medium
    border-transparent;
  }

  .cancel-modal-btn {
    @apply mt-3
    border-gray-300
    bg-white
    text-base
    text-gray-700
    hover:bg-gray-50
    focus:ring-indigo-500
    sm:mt-0;
  }

  .edit-modal-btn {
    @apply border-transparent
  bg-indigo-500
  text-white
  hover:bg-indigo-700;
  }

  .form-default {
    @apply rounded-lg
    p-4;
  }

  .input-wrapper {
    @apply mb-6 
      text-sm;
  }

  .input-wrapper-grid {
    @apply grid
      xl:grid-cols-2
      xl:gap-6;
  }

  .label-form {
    @apply block 
      mb-2 
      font-medium 
      text-gray-900;
  }

  .input-form {
    @apply bg-gray-50
      border
      border-gray-300
      text-gray-900
      rounded-lg
      block
      w-full
      p-2.5;
  }

  .text-area-form {
    @apply text-sm;
  }

  .default-btn {
    @apply w-full
      font-medium
      border
      rounded-lg
      text-sm
      px-5
      py-2.5;
  }

  .form-btn {
    @apply text-gray-900
      hover:text-indigo-500
      border-gray-200
      hover:bg-gray-100
      bg-gray-200;
  }

  .add-recipe-btn {
    @apply text-white
    bg-indigo-500
    hover:bg-indigo-700;
  }

  .delete-text-para {
    @apply inline
      text-xs
      font-mono
      italic
      hover:cursor-pointer
      font-semibold
      leading-3
      underline
      text-red-700
      hover:text-red-500;
  }

  .icon-indigo {
    @apply h-5
    w-5
    text-indigo-500;
  }
}
