@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: white;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.active-user-item {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

@layer components {
  .input-wrapper {
    @apply mb-6 
      text-sm;
  }

  .label-form {
    @apply block 
      mb-2 
      font-medium 
      text-gray-900;
  }
}
